<div class="post">
  <div class="time"><%= time_ago_in_words(post.created_at) + " ago" %></div>
  <div class="author"><%= post.user.name %> said...</div>
  <span class="body"><%= post.body %></span>
  <br>

  <% @comments.each do |comment| %>
    <%= comment.body %>
   <%= time_ago_in_words(comment.created_at) %> ago
    <br>
    <% end %>
  <br>
  <%= link_to 'Add Comment', new_post_comment_path(:post_id => post.id) %>
</div>
